* {
  padding: 0;
  margin: 0;
  font-family: 'Itim', cursive;
  color: white;
  /* background-color: black; */
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");


body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;

}

.title{
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;

}
.button {
  background-color: #4f13f5;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
  
}

.tile {
  background-color: black;
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  opacity: 60%;
}

.playerX {
  color: #ff0000;
  
}

.playerO {
  color: #498AFB;
}

.center{
  text-align: center;
}
.main-title{
  font-size: 330%;
}
